.main-content-container {
  width: 100%;
  // height: 85vh;
  height: auto;
  max-height: 750px;
  min-height: 700px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  // display: grid;
  // grid-template-columns: repeat(27, 1fr);
  // grid-template-rows: repeat(25, 1fr);
  // background-color: red;
}
.main-content-sub-container {
  max-width: 1300px;
  width: 100%;
  height: auto;
  // background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-topic-container {
  // grid-column: 4/28;
  // grid-row: 2/3;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // background-color: aqua;
}
.main-topic {
  font-family: $barlow-cond;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 4.725px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  // background-color: aqua;
}
.topic-num {
  margin: 0 1rem 0 0;
  font-weight: 700;
  opacity: 0.25;
}
.tech-details-main-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tech-details-container {
  // grid-column: 4/16;
  // grid-row: 7/19;
  width: calc(100% - 550px);
  // height: 500px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  // background-color: aqua;
}
.tech-image-container {
  // grid-column: 18/28;
  // grid-row: 3/23;
  width: 530px;
  aspect-ratio: 515/527;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
}
.tech-image {
  width: 100%;
  min-width: 100%;
  position: relative;
  left: 0;
}
.tech-nav-btns-container {
  width: max-content;
  // width: 100px;
  // width: 100%;
  // height: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background-color: rgb(16, 241, 166);
  // margin: 0;
  // padding: 0;
  margin-right: 20px;
}
.tech-nav-btn {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.219);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  margin: 3px 0;
  // margin: auto 0;
  &:hover {
    border: 1px solid rgb(255, 255, 255);
  }
}
.tech-nav-btn-guard {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: transparent;
}
.tech-nav-btn-active {
  background-color: $white;
  .tech-nav-btn-text {
    color: $black;
  }
}
.tech-nav-btn-text {
  font-family: $bellefair;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 2px;
  color: #ffffff;
  transition: all 300ms ease-in-out;
}
.tech-details-texts-container {
  // height: 85%;
  // height: auto;
  // height: calc(auto / 3);
  // width: auto;
  flex: 1;
  height: auto;
  // height: 100%;
  // width: 50%;
  // flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start !important;
  align-items: flex-start;
  overflow: hidden;
  // background-color: red;
  // border: 1px solid white;
}

.tech-details-texts {
  width: 100%;
  min-width: 100%;
  // height: 100%;
  // min-height: 100%;
  height: auto;
  // height: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all ease-in-out 100ms;
  position: relative;
  left: 0;
  top: 0;
}
// .a {
//   background-color: brown;
//   // margin-left: -100%;
// }
// .b {
//   background-color: aquamarine;
// }
// .c {
//   background-color: chocolate;
// }
// .tech-details-margin {
//   // margin-top: -50%;
//   position: relative;
//   top: -100%;
// }
.tech-details-sub-topic {
  font-family: $barlow-cond;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: #d0d6f9;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.tech-details-topic {
  font-family: $bellefair;
  font-weight: 400;
  font-size: 56px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0;
}
.tech-details-para {
  font-family: $barlow;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
  margin: 0;
  padding: 0;
}
// .tech-nav-btns-container {
//   height: 100%;
// }
