@media (max-width: 1135px) {
  .main-topic {
    font-size: 25px;
  }
  .tech-details-topic {
    font-size: 50px;
  }
  .tech-details-para {
    font-size: 16px;
  }
  .tech-image-container {
    width: 500px;
  }
  .tech-nav-btn {
    width: 70px;
    height: 70px;
  }
  .tech-nav-btn-text {
    font-size: 27px;
  }
}
@media (max-width: 1010px) {
  .main-topic {
    font-size: 20px;
  }
  .tech-details-topic {
    font-size: 40px;
  }
  .tech-details-para {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (max-width: 1024px) {
  .main-topic-container {
    width: 96%;
  }
  .main-content-sub-container {
    width: 100%;
    min-height: max-content;
    align-items: flex-end;
  }
  .tech-details-main-container {
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  .tech-image-container {
    width: 100%;
    aspect-ratio: 384/155;
  }
  .tech-details-container {
    width: 92%;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  .tech-details-texts-container {
    width: 100%;
    margin-top: 20px;
  }
  .tech-details-texts {
    justify-content: center;
    align-items: center;
  }
  .tech-details-para {
    text-align: center;
  }
  .tech-nav-btns-container {
    flex-direction: row;
    height: max-content;
    width: 100%;
    max-width: 250px;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 815px) {
  .tech-nav-btn {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 430px) {
  .main-topic {
    font-size: 16px;
  }
  .tech-details-topic {
    font-size: 24px;
  }
  .tech-details-sub-topic {
    font-size: 14px;
  }
  .tech-details-para {
    font-size: 15px;
  }
  .tech-nav-btn {
    width: 40px;
    height: 40px;
  }
  .tech-nav-btn-text {
    font-size: 16px;
  }
}
