// @media (max-width: 1325px) {
//   .tech-details-container {
//     grid-column: 2/16;
//   }
//   .main-topic-container {
//     grid-column: 2/28;
//   }
// }
@media (max-width: 1135px) {
  .main-topic {
    font-size: 25px;
  }
  .tech-details-topic {
    font-size: 50px;
  }
  .tech-details-para {
    font-size: 16px;
  }
  // .tech-image-container {
  //   grid-column: 17/28;
  // }
  .tech-nav-btn {
    width: 70px;
    height: 70px;
  }
  .tech-nav-btn-text {
    font-size: 27px;
  }
}
@media (max-width: 1010px) {
  .main-topic {
    font-size: 20px;
  }
  .tech-details-topic {
    font-size: 40px;
  }
  .tech-details-para {
    font-size: 16px;
    line-height: 28px;
  }
}
// @media (max-width: 975px) {
//   .tech-image-container {
//     grid-row: 5/21;
//   }
// }
@media (max-width: 815px) {
  .tech-image-container {
    // grid-column: 1/28;
    // grid-row: 4/13;
    justify-content: center;
  }
  .tech-details-container {
    // grid-column: 5/24;
    // grid-row: 14/25;
    flex-direction: column;
  }
  .tech-details-texts-container {
    margin-top: 0.5rem;
    width: 100%;
    flex-direction: row;
    align-items: center;
    // justify-content: flex;
  }
  .tech-details-texts {
    align-items: center;
  }
  .tech-details-sub-topic {
    margin: 0.5rem 0 0.5rem 0;
  }
  .tech-details-topic {
    margin-bottom: 1rem;
  }
  .tech-details-para {
    text-align: center;
  }
  .tech-nav-btns-container {
    flex-direction: row;
    width: 50%;
    height: max-content;
  }
  .tech-nav-btn {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 600px) {
  .main-topic-container {
    // grid-row: 1/2;
    justify-content: center;
  }
  .tech-nav-btns-container {
    width: 70%;
  }
  // .tech-details-container {
  //   grid-column: 3/26;
  //   grid-row: 13/25;
  // }
  // .tech-image-container {
  //   grid-column: 1/28;
  //   grid-row: 3/12;
  // }
}
@media (max-width: 430px) {
  .tech-nav-btns-container {
    width: 50%;
  }
  .main-topic {
    font-size: 16px;
  }
  .tech-details-topic {
    font-size: 24px;
  }
  .tech-details-sub-topic {
    font-size: 14px;
  }
  .tech-details-para {
    font-size: 15px;
  }
  .tech-nav-btn {
    width: 40px;
    height: 40px;
  }
  .tech-nav-btn-text {
    font-size: 16px;
  }
}
