@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap");
#body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("../../technology/background-technology-desktop.jpg");
  background-size: cover;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  min-height: 710px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  #body {
    background-image: url("../../technology/background-technology-tablet.jpg");
  }
}
@media (max-width: 375px) {
  #body {
    background-image: url("../../technology/background-technology-mobile.jpg");
  }
}
.main-content-container {
  width: 100%;
  height: auto;
  max-height: 750px;
  min-height: 700px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.main-content-sub-container {
  max-width: 1300px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-topic-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-topic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 4.725px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.topic-num {
  margin: 0 1rem 0 0;
  font-weight: 700;
  opacity: 0.25;
}

.tech-details-main-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tech-details-container {
  width: calc(100% - 550px);
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.tech-image-container {
  width: 530px;
  aspect-ratio: 515/527;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
}

.tech-image {
  width: 100%;
  min-width: 100%;
  position: relative;
  left: 0;
}

.tech-nav-btns-container {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.tech-nav-btn {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.219);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  margin: 3px 0;
}
.tech-nav-btn:hover {
  border: 1px solid rgb(255, 255, 255);
}

.tech-nav-btn-guard {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: transparent;
}

.tech-nav-btn-active {
  background-color: #ffffff;
}
.tech-nav-btn-active .tech-nav-btn-text {
  color: #0b0d17;
}

.tech-nav-btn-text {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 2px;
  color: #ffffff;
  transition: all 300ms ease-in-out;
}

.tech-details-texts-container {
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start !important;
  align-items: flex-start;
  overflow: hidden;
}

.tech-details-texts {
  width: 100%;
  min-width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all ease-in-out 100ms;
  position: relative;
  left: 0;
  top: 0;
}

.tech-details-sub-topic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: #d0d6f9;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.tech-details-topic {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 56px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0;
}

.tech-details-para {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
  margin: 0;
  padding: 0;
}

@media (max-width: 1135px) {
  .main-topic {
    font-size: 25px;
  }
  .tech-details-topic {
    font-size: 50px;
  }
  .tech-details-para {
    font-size: 16px;
  }
  .tech-nav-btn {
    width: 70px;
    height: 70px;
  }
  .tech-nav-btn-text {
    font-size: 27px;
  }
}
@media (max-width: 1010px) {
  .main-topic {
    font-size: 20px;
  }
  .tech-details-topic {
    font-size: 40px;
  }
  .tech-details-para {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (max-width: 815px) {
  .tech-image-container {
    justify-content: center;
  }
  .tech-details-container {
    flex-direction: column;
  }
  .tech-details-texts-container {
    margin-top: 0.5rem;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .tech-details-texts {
    align-items: center;
  }
  .tech-details-sub-topic {
    margin: 0.5rem 0 0.5rem 0;
  }
  .tech-details-topic {
    margin-bottom: 1rem;
  }
  .tech-details-para {
    text-align: center;
  }
  .tech-nav-btns-container {
    flex-direction: row;
    width: 50%;
    height: -moz-max-content;
    height: max-content;
  }
  .tech-nav-btn {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 600px) {
  .main-topic-container {
    justify-content: center;
  }
  .tech-nav-btns-container {
    width: 70%;
  }
}
@media (max-width: 430px) {
  .tech-nav-btns-container {
    width: 50%;
  }
  .main-topic {
    font-size: 16px;
  }
  .tech-details-topic {
    font-size: 24px;
  }
  .tech-details-sub-topic {
    font-size: 14px;
  }
  .tech-details-para {
    font-size: 15px;
  }
  .tech-nav-btn {
    width: 40px;
    height: 40px;
  }
  .tech-nav-btn-text {
    font-size: 16px;
  }
}/*# sourceMappingURL=technology.css.map */