@media (max-width: 1258px) {
  .crew-member-name {
    font-size: 40px;
  }
  .crew-topic {
    font-size: 20px;
  }
  .profesion {
    font-size: 24px;
  }
  .crew-member-details {
    font-size: 16px;
  }
  .crew-nav-btn {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 1000px) {
  .crew-main-topic-container {
    grid-column: 1/21;
    grid-row: 2/3;
  }
  .crew-text-details-container {
    grid-row: 4/11;
    grid-column: 4/18;
  }
  .profesion {
    text-align: center;
    margin: 0;
  }
  .crew-member-name {
    text-align: center;
    margin: 0;
  }
  .crew-member-details {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .crew-nav-container {
    grid-column: 9/13;
    grid-row: 11/12;
  }
  .crew-person-image-container {
    grid-row: 12/21;
    grid-column: 1/21;
  }
  .crew-person-image {
    max-width: 456px;
    height: 100%;
  }
}
@media (max-width: 700px) {
  .profesion {
    font-size: 18px;
  }
  .crew-member-name {
    font-size: 24px;
  }
  .crew-member-details {
    font-size: 15px;
  }
}
@media (max-width: 445px) {
  .crew-main-topic-container {
    justify-content: center;
  }
  .crew-topic {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  .crew-text-details-container {
    grid-row: 13/20;
    grid-column: 1/21;
  }
  .crew-nav-container {
    grid-column: 8/14;
    grid-row: 11/12;
  }
  .crew-person-image-container {
    grid-row: 4/11;
    grid-column: 1/21;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}
